//CoPPLA variables
$portal-top-height : 46px;
$portal-top-bgcolor : #FFF;
$portal-top-bordercolor : #444444;
$portal-top-fontsize : 12px;
$portal-banner-height : 80px;
$portal-banner-bgcolor : #EFECD7;
$portal-banner-slogancolor : #C54340;
$portal-breadcrumbs-height : 35px;

$coppla-container-bgcolor: #E3E3E3;
$coppla-text-color : #444444;

%portal-top-font {
    font-size: $portal-top-fontsize;
    text-transform: lowercase;
}

//This mixin adds a left-margin that is not present on small screens
@mixin responsive-margin($horizontal:48px, $vertical:14px){
        margin: $vertical 0;
        @media screen and (min-width: $screen-sm) {
            margin: $vertical auto $vertical $horizontal;
        }
}

.caret {
  &.up {
    border-bottom: 4px solid #000000;
    border-top: none;
  }
  &.left {
    border-top: 4px solid transparent;
    border-right: 5px solid #000000;
    border-bottom: 4px solid transparent;
    border-left: none;
  }
  &.right {
    border-top: 4px solid transparent;
    border-right: none;
    border-bottom: 4px solid transparent;
    border-left: 5px solid #000000;
  }
}
