@font-face {
    font-family: "CopplaIcon";
    font-style: normal;
    src: url(fonts/coppla/coppla-icon.ttf); /*if IE */
    src: url("fonts/coppla/coppla-icon.eot");
    src: url("fonts/coppla/coppla-icon.eot?#iefix") format("embedded-opentype"), url("fonts/coppla/coppla-icon.woff") format("woff"), url("fonts/coppla/coppla-icon.ttf") format("truetype"), url("fonts/coppla/coppla-icon.svg#glyphicons_halflingsregular") format("svg");
}

.copplaicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'CopplaIcon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.copplaicon-twitter:before {
  content: "B";
}

.copplaicon-facebook:before {
  content: "A";
}

.copplaicon-search:before {
  content: "t";
}

.copplaicon-youtube:before {
  content: "C";
}

.copplaicon-more:before {
  content: "D";
}

.copplaicon-back:before {
  content: "E";
}
.copplaicon-forward:before {
  content: "F";
}
.copplaicon-document-full:before {
  content: "G";
}
.copplaicon-gallery:before {
  content: "H";
}
.copplaicon-movie:before {
  content: "I";
}
.copplaicon-attachment:before {
  content: "J";
}
.copplaicon-exclude:before {
  content: "K";
}
.copplaicon-print:before {
  content: "L";
}
.copplaicon-document:before {
  content: "M";
}
.copplaicon-edit:before {
  content: "N";
}
.copplaicon-paste:before {
  content: "O";
}
.copplaicon-folder:before {
  content: "P";
}
.copplaicon-link:before {
  content: "Q";
}
.copplaicon-pictures:before {
  content: "R";
}
.copplaicon-home:before {
  content: "a";
}
.copplaicon-box:before {
  content: "b";
}
.copplaicon-calendar:before {
  content: "c";
}
.copplaicon-portfolio:before {
  content: "d";
}
.copplaicon-forum:before {
  content: "e";
}
.copplaicon-tasks:before {
  content: "f";
}
.copplaicon-activity:before {
  content: "g";
}
.copplaicon-share:before {
  content: "h";
}
.copplaicon-info:before {
  content: "i";
}
.copplaicon-help:before {
  content: "j";
}
.copplaicon-presentation:before {
  content: "k";
}
.copplaicon-stack:before {
  content: "l";
}
.copplaicon-mail:before {
  content: "m";
}
.copplaicon-photo:before {
  content: "n";
}
.copplaicon-add:before {
  content: "o";
}
.copplaicon-people:before {
  content: "p";
}
.copplaicon-lock:before {
  content: "q";
}
.copplaicon-info-balloon:before {
  content: "r";
}
.copplaicon-minus:before {
  content: "s";
}
.copplaicon-send:before {
  content: "u";
}
.copplaicon-shout:before {
  content: "v";
}
.copplaicon-write:before {
  content: "w";
}
.copplaicon-options:before {
  content: "x";
}
.copplaicon-file:before {
  content: "y";
}
.copplaicon-action:before {
  content: "z";
}
