$coppla-palletes: (
    default: (color0: #434648, color1: #E2E4E4, color2: #F1F2F2),
    blue: (color0: #00A4D6, color1: #E7EEF0, color2: #E9EFF0),
    red: (color0: #AE0D19, color1: #F5F1F5, color2: #F7F4F7),
    brasil: (color0: #148F31, color1: #C5D6F3, color2: #F6F4B8),
    water: (color0: #125769, color1: #E7EEF0, color2: #E9EFF0)
);

@each $index in 0,1,2 {
%color#{$index} {
    @each $pallete, $colors in $coppla-palletes {
       .pallete-#{$pallete} & {
            color: map-get($colors, color#{$index});
        } 
    }
}
%background-color#{$index} {
    @each $pallete, $colors in $coppla-palletes {
       .pallete-#{$pallete} & {
            background-color: map-get($colors, color#{$index});
        } 
    }
}
}
