// customize bootstrap variables here:
@import "variables";
@import "compass/css3/border-radius";
@import "compass/css3/images";

@import "base";
@import "copplaicons";
@import "palletes";
@import "bootstrap";

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("fonts/bootstrap/glyphicons-halflings-regular.eot");
    src: url("fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.portal_top_area {
    .row.portal_top_bar {
        min-height: $portal-top-height;
        background-color: $portal-top-bgcolor;
        border-bottom: 2px solid $portal-top-bordercolor;
        top: -250px;
        transition-duration: 0.5s;
        @extend %portal-top-font;

        &.affix {
            width: 100%;
            top: 0;
            z-index: 150;
        }

        .coppla_top_menu {
            padding: 0 !important;
        }
        .coppla_menu_item {
            display: block;
            text-align: center;
            text-transform: uppercase;
            padding: 10px 0;
            font-size: 11px;
            @extend %color0;
            &.selected {
                @extend %background-color0;
                color: #FFF;
            }
            .icon {
                display: block;
                padding-bottom: 6px;
                font-size: 2em;
            }
            
            .caret {
                position: absolute;
                left: 17%;
                bottom: 15px;
                border-width: 7px;
            }
        }

        .portal_options > span {
            font-size: 2em;;
            @extend %color0;
        }

        .logo {
            text-align: center;
         }

        .logo img {
            max-height: $portal-top-height;
        }

        & > div:not(.logo){
            padding-top: 16px;
        }

        .btn {
            border: none;
            padding: 4px 10px;
            margin-top: -4px;
            @extend %portal-top-font;
        }
    }

    .row.portal_banner {
        min-height: $portal-banner-height;
        background-color: $portal-banner-bgcolor;
        .portal_logo img {
            padding: 8px 28px;
            //min-height: $portal-banner-height;
            height: 77px;
        }
        .portal_slogan h4 {
            font-size: 16px;
            padding-top: 12px;
            color: $portal-banner-slogancolor;
            font-weight: 300;
            letter-spacing: 1px;
        }
        .portal_slogan h6 {
            color: $portal-banner-slogancolor;
            font-weight: 300;
        }
    }
    
    .row.portal_breadcrumbs {
        height: $portal-breadcrumbs-height;
    }

    .breadcrumb {
        text-transform: lowercase;
        font-size: 15px;
        line-height: $portal-breadcrumbs-height;
        margin-bottom: 0;
        a {
            color: $gray-light;
        }
    }
}

.portal_top_bar {
    .coppla_top_menu {
        z-index: 901;
    }
    .coppla_menu_small {
        overflow-y: scroll;
        background-color: #FFF;
        z-index: 900;
        height: 100%;
        margin-top: 63px;
        padding-bottom: 63px;
        top: 0;
        transition-duration: 0.5s;
        &.hidden {
            top: -130%;
        }
    }
    &.affix-top .coppla_menu_small {
        position: absolute;
    }
    &.affix .coppla_menu_small {
        position: fixed;
    }
}

.portal_top_search {
    .dropdown-menu .form-control {
        width: 300px;
        margin: 0 5px;
    }
}

.coppla_container {
    @extend %background-color1;
    @include border-radius();
    margin: 0 28px;
}

.coppla_banner {
    .logo .logo_container {
        width: 100px;
        height: 100px;
        @include border-radius(50px);
        overflow: hidden;
        margin: 12px;
    }
    .description {
        h1 {
            font-size: 28px;
            font-weight: 600;
            color: $coppla-text-color;
            margin-top: 14px;
        }
        p {
            font-weight: 300;
            font-size: 13px;
            line-height: 15px;
        }
    }
}

.coppla_banner_info {
    font-size: 12px;
    padding-bottom: 16px;
    .glyphicon {
        padding: 0 4px;
        font-size: 18px;
    }
}

.coppla_columns {
    .coppla_contents {
        padding: 15px 20px;
    }
    .coppla_col {
        min-height: 100px;
        background-color: #FFF;
        border: 1px solid #CFCFCF;
        @include border-radius(8px);
        overflow: hidden;
        &.coppla_menu_full {
            width: 100px;
            margin: 0 auto;
        }
        .coppla_menu_item .icon {
            font-size: 4em;
        }
        .coppla_communities_filter {
            float: right;
            margin-bottom: 15px;
        }    
    }
}

.coppla_menu_item {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 0.7em;
    &, & > a {
        @extend %color0;
        text-decoration: none;
    }
    &.selected, &.selected a {
        @extend %background-color0;
        color: #FFF;
    }
    .icon {
        display: block;
        font-size: 3.25em;
        padding-bottom: 6px;
        text-transform: none;
    }
}

.coppla_sharebox {
    clear:both;
    padding: 8px;
    border: 1px solid #BCBCBC;
    @include border-radius(4px);
    @extend %background-color2;    

    textarea {
        border: none;
    }
    
    button {
        margin-top: 8px;
        font-size: 0.75em;
        text-transform: lowercase;
        border: 1px solid #DFDFDF;
        border-radius: 4px;
        @include background-image(linear-gradient(#FCFCFC, #EEEEEF));
    }
}   

.coppla_searchbox {
    margin: 18px 0;
    position: relative;
    
    input {
        padding-right: 24px;
    }

    .icon {
        position: absolute;
        left: 100%;
        top: 50%;
        margin-left: -22px;
        margin-top: -6px;
    }
}

.coppla_timeline_item {
    @extend %background-color2;
    padding: 14px 18px;
    border-radius: 4px;
    margin-bottom: 10px;

    .coppla_item_info {
        @include responsive-margin;

        &, & > a {
            color: #3777F6;
            text-decoration: underline;
        }
    }

    img.coppla_timeline_preview {
        max-width: 200px;
        @include responsive-margin;
    }

    p {
        font-size: 0.8em;
        text-align: justify;
    }
}

.coppla_button_group {
    button {
        font-size: 0.8em;
        color: #747475;
    }
}

.coppla_authorbox {
    position: relative;
    .coppla_author_image {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border: 1px solid #1F6F6D;
        display: inline-block;
        vertical-align: top;
        @include border-radius(2px);
    }
    .coppla_author_info {
        display: inline-block;
        margin-left: 18px;
        vertical-align: top;

        .sticky-right {
            position: absolute;
            top: -2px;
            right: 0px;
        }

        h5 {
            margin: 0;
            font-size: 0.85em;
            color: #0D448D;
        }

        & > span {
            font-size: 0.7em;
            color: #898989;
        }

        h5 a, span a {
            color: inherit;
        }
    }
}

.coppla_timeline_comments {
    margin-bottom: 6px;
    .coppla_timeline_commentary {
        padding: 10px 15px;
    }
    .coppla_comments_seall, .coppla_comments_seall > a {
        text-align: center;
        font-size: 0.9em;
        color: #000;
        padding: 3px;
    }
    .coppla_timeline_commentary, .coppla_comments_seall {
        margin-bottom: 4px;
        background-color: #FFF;
        @include border-radius(4px);
        .coppla_author_image {
            width: 34px;
            height: 34px;
        }
        p {
            margin-left: 56px;
            margin-top: -18px;
        }
    }
}
